.floating-menu {position:fixed; top:30px; left:30px; width:30%; z-index:100; background-color:silver; border: solid silver 5px;}
.floating-menu span {font-size:24px; }
.floating-menu select {float: center; width: 70%; }